<div class="homeContainer">
  <div class="control">
    <h4>Item name</h4>
    <input [(ngModel)]="selectedItem.name" class="itemName" type="text">
    <h4>Item number</h4>
    <input [(ngModel)]="selectedItem.number" class="itemNumber" type="number">
    <button (click)="AddItem()">Add</button>
    <button (click)="EditItem()">Edit</button>
    <button (click)="DeleteItem()">Delete</button>
    <button (click)="SelectBlank()">Clear</button>
  </div>
  <div class="display">
    <table>
      <tr>
        <th>Item name</th>
        <th>Item number</th>
      </tr>
      <tr *ngFor="let item of items">
        <div (mouseenter)="SelectCurrent(item)">
          <td><input type="text" [(ngModel)]="item.name"></td>
          <td><input type="number" [(ngModel)]="item.number"></td>
        </div>
      </tr>
    </table>
  </div>
</div>
