.itemTableContainer {
    .serverRespond {
        float: right;
        background-color: antiquewhite;
    }
    input {
        display: block;
        padding: 0px;
        width: 200px;
    }
    button {
        width: 200px;
    }

}
