.categoryBlock {
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    height: fit-content;
    overflow-y: auto;
    width: 325px;
    h3 {
        top: auto;
        position: sticky;
        margin: 5px;
        padding: 10px;
        border-bottom: 1px gray solid;
        text-align: center;
    }
    .headers {
        display: grid;
        grid-template-columns: auto auto auto;
        h4 {
            text-align: center;
        }
    }
    .itemList {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .addButton {
            margin: auto;
            margin-bottom: 10px;
            width: 50%;
        }
    }
    .newCharacterItem {
        display: flex;
        flex-direction: row;
        .number {
            width: 60px;
            height: 50px;
        }
        button {
            margin-bottom: 10px;
        }
    }
}
